* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  padding: 8px 20px;
  border-bottom: 1px solid #999;
}

button {
  padding: 4px;
}

.content_wrapper {
  max-width: 920px;
  margin: 0 auto;
}

#entryWrapper {
  display: flex;
  margin-top: 24px;
}

#actorWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.actor_container {
  width: calc(100% / 4);
  margin-top: 20px;
}

.status_list {
  margin-top: 16px;
}

.status_item {
  display: flex;
}

.status_item + .status_item {
  margin-top: 8px;
}

.status_title {
  width: 50px;
  color: #bf0000;
}

#battleHistory {
  width: 100%;
  margin-top: 20px;
}

.button_container {
  display: flex;
  justify-content: center;
}

#startButton, #resetButton {
  display: none;
}

#resetButton {
  margin-left: 12px;
}