* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 920px;
  margin: 0 auto;
  padding: 8px 0;
  border-bottom: 1px solid #999;
}

main {
  min-height: calc(100vh - 65px);
  background-color: #222;
}

button {
  padding: 4px;
  letter-spacing: 1px;
}

button:first-letter {
  font-weight: bold;
}

#actorNum {
  width: 16px;
}

#actorNum::-webkit-inner-spin-button,
#actorNum::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}

.button_container {
  display: flex;
  align-items: center;
}

.button_container * + * {
  margin-left: 8px;
}

#increaseButton, #decreaseButton {
  width: 24px;
  font-size: 16px;
}

.content_wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 48px;
}

#actorWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.actor_container {
  position: relative;
  width: calc((100% - 60px) / 4);
  margin: 40px 0 0 20px;
  padding: 30px 20px 20px;
  border: 1px solid #FFF;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #001F43;
}

.actor_container.-active {
  border: 2px solid #FF0000;
}

.actor_container.-damaged {
  animation: damaged .15s ease-in-out 2 alternate;
}

@keyframes damaged {
  50% {
    opacity: 0;
  }
}

.actor_container.-down {
  opacity: .5;
}

.actor_container:nth-of-type(4n + 1) {
  margin-left: 0;
}

.actor_name {
  position: absolute;
  top: 0;
  left: 20px;
  width: 80%;
  height: 24px;
  font-size: 18px;
  transform: translateY(-50%);
}

.status_item {
  display: flex;
  color: #FFF;
}

.status_title {
  color: #FF4500;
}

.status_item + .status_item {
  margin-top: 8px;
}

.status_title {
  width: 48px;
  margin-right: 10px;
}

#battleHistory {
  visibility: hidden;
  width: 100%;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content_wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  #actorWrapper {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .actor_container {
    min-width: 215px;
  }

  .actor_container:nth-of-type(4n + 1) {
    margin-left: 20px;
  }

  .actor_container:first-of-type {
    margin-left: 0;
  }
}
